{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="front {{post_class}}">
  {{#if feature_image}}
  <img width="100%" src="{{img_url feature_image}}" />
  {{/if}}
  <h1 class="post-title"><a href="{{url}}">{{title}}</a></h2>
  <div class="post-meta">
    {{date published_at format="DD MMM YYYY"}} / {{author}}
  </div>
  <p>{{excerpt}}</p>
  {{#if @last}}
  {{else}}
    <hr class="hr-divide">
  {{/if}}
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
