{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


{{! Everything inside the #author tags pulls data from the author }}
{{#author}}


<div class="intro">
  <div class="intro-content">
    <a class="left-title author-site" href="{{@blog.url}}">{{@blog.title}}</a><br>
    <a class="left-title author-title" href="{{url author}}">{{name}}</a>
    <p class="summary">{{bio}}</p>

    <div class="social-links">

      <!-- Twitter -->
    {{#if twitter}}
      <div class="button-wrapper">
        <a href="{{twitter_url}}">
            <svg class="social-button twitter-button" viewBox="0 0 64 52">
              <path d="M20.1277295,52.011383 C12.7126814,52.011383 5.81077574,49.8377848 0,46.1123523 C1.0272212,46.2336149 2.07246794,46.2956508 3.13222866,46.2956508 C9.28385079,46.2956508 14.9455065,44.1964959 19.439248,40.6749625 C13.6935513,40.5689161 8.84444938,36.7727861 7.17369318,31.5561506 C7.97524422,31.7094846 8.79786373,31.791653 9.64389321,31.791653 C10.8415377,31.791653 12.0014923,31.6312959 13.1033907,31.3311826 C7.09644092,30.1251107 2.57062797,24.8181132 2.57062797,18.4562712 C2.57062797,18.4010241 2.57062797,18.346011 2.57156442,18.2912323 C4.34204615,19.2746772 6.36652412,19.8653059 8.51905344,19.9334284 C4.99588145,17.5788727 2.67761062,13.5598814 2.67761062,9.00457215 C2.67761062,6.59828089 3.32512525,4.34274856 4.45534947,2.40348213 C10.9314313,10.3473573 20.6064597,15.5747613 31.5191631,16.1223161 C31.2953656,15.1613447 31.1790189,14.1591718 31.1790189,13.1300779 C31.1790189,5.8788982 37.0581514,0 44.3097992,0 C48.086265,0 51.4987088,1.59467421 53.8939976,4.14657449 C56.8848312,3.55758442 59.6949411,2.46481583 62.2318591,0.960269248 C61.2514575,4.02624812 59.1696258,6.5994514 56.4585389,8.22455841 C59.1146127,7.90712175 61.64521,7.20131684 64,6.15700657 C62.2395843,8.7901385 60.0133142,11.1027908 57.4480705,12.9540364 C57.4733531,13.5170416 57.4859942,14.0833241 57.4859942,14.65265 C57.4859942,32.0037456 44.2791324,52.011383 20.1277295,52.011383" />
            </svg>
        </a>
      </div>
      {{/if}}

      <!-- Facebook -->
      {{#if facebook}}
      <div class="button-wrapper">
        <a href="{{facebook_url}}">
            <svg class="social-button facebook-button" viewBox="0 0 76 76">
                <path d="M71.6225174,75.7966486 L4.34637838,75.7966486 C2.04055598,75.7966486 0.172540541,73.9274595 0.172540541,71.6225174 L0.172540541,4.34637838 C0.172540541,2.04084942 2.04084942,0.172540541 4.34637838,0.172540541 L71.6225174,0.172540541 C73.9274595,0.172540541 75.7960618,2.04084942 75.7960618,4.34637838 L75.7960618,71.6225174 C75.7960618,73.9277529 73.927166,75.7966486 71.6225174,75.7966486 Z M52.3516757,75.7966486 L52.3516757,46.5108263 L62.1814981,46.5108263 L63.6533745,35.0976216 L52.3516757,35.0976216 L52.3516757,27.8110116 C52.3516757,24.5066255 53.269251,22.2547954 58.0076602,22.2547954 L64.0512741,22.2521544 L64.0512741,12.0440927 C63.0060541,11.9050039 59.4185019,11.5942548 55.2446641,11.5942548 C46.5310734,11.5942548 40.5655135,16.9130811 40.5655135,26.680695 L40.5655135,35.0976216 L30.7104556,35.0976216 L30.7104556,46.5108263 L40.5655135,46.5108263 L40.5655135,75.7966486 L52.3516757,75.7966486 Z" fill-rule="nonzero"></path>
            </svg>
        </a>
      </div>
      {{/if}}

      <!-- Website -->
      {{#if website}}
      <div class="button-wrapper">
        <a href="{{website}}">
          <svg class="social-button email-button" viewBox="0 0 76 76" xmlns="http://www.w3.org/2000/svg">
            <path d="M38,0 C17.024,0 0,17.024 0,38 C0,58.976 17.024,76 38,76 C58.976,76 76,58.976 76,38 C76,17.024 58.976,0 38,0 Z M38,11.4 C44.308,11.4 49.4,16.492 49.4,22.8 C49.4,29.108 44.308,34.2 38,34.2 C31.692,34.2 26.6,29.108 26.6,22.8 C26.6,16.492 31.692,11.4 38,11.4 Z M38,65.36 C28.5,65.36 20.102,60.496 15.2,53.124 C15.314,45.562 30.4,41.42 38,41.42 C45.562,41.42 60.686,45.562 60.8,53.124 C55.898,60.496 47.5,65.36 38,65.36 Z" fill-rule="nonzero"></path>
          </svg>
        </a>
      </div>
      {{/if}}

    </div>

  </div>
</div>

{{/author}}

{{! The main content area on the homepage }}
<div class="main">

  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}

</div>
